server:
  port: 8082

spring:
  application:
    name: stock_pattern_service
  datasource:
    url: jdbc:postgresql://localhost:5432/stock_pattern_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 1111
  jpa:
    hibernate:
      ddl:
        auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
analysis:
  service:
    url: http://localhost:8083/analysis/
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    instances:
      analysis_service:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED


