server:
  port: 8080
spring:
  application:
    name: stock_api_gateway
  cloud:
    gateway:
      routes:
      - id: fetch_service
        uri: ${services.fetcher-service.uri}
        predicates:
          - Path: /stocks/**
        filters:
          - name: CircuitBreaker
            args:
              name: fetcher_service
              fallbackUri: forward:/fallback/fetch

      - id: analysis_service
        uri: ${services.analysis-service.uri}
        predicates:
            - Path: /analysis/**
        filters:
          - name: CircuitBreaker
            args:
              name: analysis_service
              fallbackUri: forward:/fallback/analysis

      - id: pattern_service
        uri: ${services.pattern-service.uri}
        predicates:
            - Path: /patterns/**
        filters:
          - name: CircuitBreaker
            args:
              name: pattern_service
              fallbackUri: forward:/fallback/pattern
services:
  fetcher-service:
    uri: http://localhost:8081
  analysis-service:
    uri: http://localhost:8083
  pattern-service:
    uri: http://localhost:8082

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
resilience4j:
  circuitbreaker:
    instances:
      fetcher_service:
        slidingWindowSize: 10
        failureRateThreshold: 50
      analysis_service:
        slidingWindowSize: 10
        failureRateThreshold: 50
      pattern_service:
        slidingWindowSize: 10
        failureRateThreshold: 50

  timelimiter:
    instances:
      fetcher_service:
        timeoutDuration: 3s
      analysis_service:
        timeoutDuration: 2s
      pattern_service:
        timeoutDuration: 2s





